{% extends 'base.html.twig' %}

{% block body %}

	<div class="container-fluid w-75">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

			{% for message in app.flashes("notice") %}
				<div class="flash-notice">
					{{message}}
				</div>
			{% endfor %}
			
			{% for message in app.flashes("success") %}
				<div class="flash-notice">
					{{message}}
				</div>
			{% endfor %}

		
		<form action="{{path('app_coche_crear')}}" method="POST">
			<div class="my-3">
				<label for="marca" class="form-label">Marca</label>
				<input type="text" class="form-control" id="marca" name="marca">

			</div>

			<div class="my-3">
				<label for="km" class="form-label">Kilómetros recorridos</label>
				<input type="number" class="form-control" id="km" name="km">

			</div>

			<div class="my-3">
				<label for="segundaMano" class="form-label">Segunda Mano</label>
				<input type="checkbox" name="segundaMano" id="segundaMano">
			</div>
			
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
		
	</div>
{% endblock %}
